@import '../../../utils/styles/utility.less';
@import '../../../utils/styles/mixins.less';

.checkout {
    padding: var(--space-inner);

    &__active {
        animation: fadeIn 0.5s ease-in;

        @keyframes fadeIn {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
    }

    &__brand {
        overflow: auto;
        margin-bottom: var(--space-xl);

        .gift-card__name {
            font-size: var(--font-size-s);
        }
    }

    &__options {
        margin-bottom: var(--space-s);

        h4 {
            margin-bottom: var(--space-m);
        }

        > div {
            display: grid;
            gap: 0.5rem;
            grid-template-columns: repeat(auto-fill, minmax(4rem, 1fr));
        }
    }
}
